<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

   <material name="white" >
        <color rgba="1 1 1 1" />
    </material>

    <link name="caster_wheel_link" >
        <visual>
            <geometry>
                <sphere radius="0.06" />
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <geometry>
                <sphere radius="0.06" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.00594" />
            <inertia
                ixx="0.0000085536"
                ixy="0.0"
                ixz="0.0"
                iyy="0.0000085536"
                iyz="0.0"
                izz="0.0000085536"
            />
        </inertial>
    </link>

    <joint name="caster_wheel_joint" type="fixed">
        <parent link="base_link" />
        <child link="caster_wheel_link" />
        <origin xyz="0.1125 0 -0.085" />
    </joint>

</robot>