<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="black" >
        <color rgba="0 0 0 1" />
    </material>

    <link name="left_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.06" length="0.05" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.06" length="0.05" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.00396" />
            <inertia
                ixx="0.000004389"
                ixy="0.0"
                ixz="0.0"
                iyy="0.000004389"
                iyz="0.0"
                izz="0.000007128"
            />
        </inertial>
    </link>
    
    <joint name="left_wheel_joint" type="fixed" >
        <parent link="base_link" />
        <child link="left_wheel_link" />
        <origin xyz="-0.1125 0.15 -0.085" rpy="-${pi/2} 0 0" />
    </joint>

    <link name="right_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.06" length="0.05" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.06" length="0.05" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.00396" />
            <inertia
                ixx="0.000004389"
                ixy="0.0"
                ixz="0.0"
                iyy="0.000004389"
                iyz="0.0"
                izz="0.000007128"
            />
        </inertial>
    </link>

    <joint name="right_wheel_joint" type="fixed" >
        <parent link="base_link" />
        <child link="right_wheel_link" />
        <origin xyz="-0.1125 -0.15 -0.085" rpy="${pi/2} 0 0" /> 
    </joint>

</robot>